@using FINCORE.Models.Models.Acquisition.CAS.Paginations
@using FINCORE.Services.Helpers.Models.Pagination
@using FINCORE.WEB.Helpers
@model PaginationModels<PaginationLocationModels>

<div class="top-content" id="dvlookup_location">
    <div class="container">
        <div class="form-group row">
            <table>
                <tr>
                    <td>Nama Lokasi:</td>
                </tr>
                <tr><td style="padding: 5px"></td></tr>
                <tr>
                    <td><input class="form-control" id="txsearch_ref1" placeholder="Cari data ..." type="text" style="height: 30px" /></td>
                    <td><button class="btn btn-secondary" type="button" id="btnsearch_ref1" style="margin-left:10px"><i class="fa fa-search"></i> Search</button></td>
                </tr>
            </table>
        </div>
        <div class="form-group row">
            <table class="table table-striped table-bordered" style="width:100%; font-size: 11px;" id="tblpage">
                <thead>
                    <tr style="background-color: #ffd951; color: #000;">
                        <th style="width:10px">No</th>
                        <th>Nama Lokasi</th>
                        <th style="width:30px"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var mPageSize = 0;
                        var mPageIndex = 0;
                        var mTotalRecordCount = 0;
                        var mTotalPages = 0;

                        if (Model == null)
                        {
                            <tr>
                                <td colspan="100%"><div class="text-center">Data Not Available</div></td>
                            </tr>
                        }
                        else
                        {
                            var dataCas = Model.Model;
                            mPageSize = Model.PageSize;
                            mPageIndex = Model.PageIndex;
                            mTotalRecordCount = Model.RecordCount;
                            mTotalPages = Model.TotalPages;

                            if (mTotalRecordCount != 0)
                            {
                                foreach (var item in dataCas)
                                {
                                    var combineLocation = $"{item.village_name} {item.district_name} {item.regency_name} {item.province_name} {item.zip_code}";
                                    var locName = $"'{combineLocation}'";
                                    <tr>
                                        <td>@item.RowNumber</td>
                                        <td>@combineLocation</td>
                                        <td>
                                            <button class="btn btn-secondary" type="button" title="Select data" onclick="cas_lookup.SelectRef1(@item.location_id, @locName)"><i class="fa fa-hand-pointer"></i> Pilih</button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="100%"><div class="text-center">Data Not Available</div></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            @{
                var pageSize = mPageSize;
                var pageIndex = mPageIndex;
                var recordCount = mTotalRecordCount;
                var totalPages = mTotalPages;
            }
            <div style="padding-right:5px">
                <button class="btn btn-secondary" type="button" title="Previous Page" id="btnprev_ref1"><i class="fa fa-arrow-left"></i> Previous</button>
                <button class="btn btn-secondary" type="button" title="Next Page" id="btnnext_ref1">Next <i class="fa fa-arrow-right"></i></button>
                &nbsp;Page
            </div>
            <table>
                <tr>
                    <td>
                        <input class="form-control" id="txpages_ref1" title="Current Page. And you can input destination page" style="width: 70px; height:25px" type="number" />
                    </td>
                    <td>
                        <div style="margin-left:6px">of &nbsp; @Commons.ConvertToNominal(@totalPages == 0 ? 1 : @totalPages)</div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="btngo_ref1" title="Goto selected page" style="margin-left:10px">Go</button>
                    </td>
                    <td>
                        <div style="padding-left:10px">
                            @Commons.ConvertToNominal(@recordCount) Record(s)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/Acquisition/cas.min.js"></script>
<script src="~/Scripts/Acquisition/lookup/trcas.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var txSearch = "";
        $("#btnsearch_ref1").click(function () {
            var currentPage = $("#txpages_ref1").val();
            txSearch = $("#txsearch_ref1").val();
            ref_msloc_paging.handle_btn(currentPage, txSearch, 'ref1');
        })
        $("#btnnext_ref1").click(function () {
            txSearch = $("#txsearch_ref1").val();
            var nextPage = parseInt($("#txpages_ref1").val()) + 1;
            if (parseInt(nextPage) > @totalPages) {
                Common.Alert.Warning("The number exceeds the total page. Please enter with a lower number.");
            } else {
                ref_msloc_paging.handle_btn(nextPage, txSearch, 'ref1');
            }
        })
        $("#btnprev_ref1").click(function () {
            txSearch = $("#txsearch_ref1").val();
            var prevPage = parseInt($("#txpages_ref1").val()) - 1;
            ref_msloc_paging.handle_btn(prevPage, txSearch, 'ref1');
        })
        $("#btngo_ref1").click(function () {
            txSearch = $("#txsearch_ref1").val();
            var selectedPage = $("#txpages_ref1").val();
            if (parseInt(selectedPage) > @totalPages) {
                Common.Alert.Warning("The number exceeds the total page. Please enter with a lower number.");
            } else {
                ref_msloc_paging.handle_btn(selectedPage, txSearch, 'ref1');
            }
        })
        $("#txpages_ref1").val(@ViewBag.CurrentPage);
    });
</script>