@using FINCORE.WEB.Helpers
@{
    ViewData["Title"] = "Custome Pagination List - Example";
}
<div class="top-content">
    <div class="container">
        <div class="form-group row">
            <table>
                <tr>
                    <td>Nama Pelanggan:</td>
                </tr>
                <tr><td style="padding: 5px"></td></tr>
                <tr>
                    <td><input class="form-control" id="txsearch" type="text" /></td>
                    <td><button class="btn btn-secondary" type="button" id="btnsearch" style="margin-left:10px"><i class="fa fa-search"></i> Search</button></td>
                </tr>
            </table>
        </div>
        <div class="form-group row">
            <table class="table table-striped table-bordered" style="width:100%; font-size: 9px;" id="tblpage">
                <thead>
                    <tr style="background-color: #ffd951; color: #000;">
                        <th>No</th>
                        <th>CAS ID</th>
                        <th>Nama Pelanggan</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th style="width:20px">Edit</th>
                        <th style="width:20px">Other Button</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var data = ViewBag.PagingCAS; //passing from Controller
                        var mPageSize = data.PageSize;
                        var mPageIndex = data.PageIndex;
                        var mTotalRecordCount = data.RecordCount;
                        var mTotalPages = data.TotalPages;

                        var dataCas = ViewBag.CASModel; //passing from Controller
                        if (mTotalRecordCount != 0)
                        {
                            foreach (var item in dataCas)
                            {
                                <tr>
                                    <td>@item.RowNumber</td>
                                    <td>@item.CASId</td>
                                    <td>@item.NamaPelanggan</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a class="btn btn-secondary" title="Edit" asp-action="Edit" asp-controller="CRUD"><i class="fa fa-pen"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary" asp-action="Edit" asp-controller="CRUD" title="Other Button Example"><i class="fa fa-download"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="100%"><div class="text-center">Data Not Available</div></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            @{
                var pageSize = mPageSize;
                var pageIndex = mPageIndex;
                var recordCount = mTotalRecordCount;
                var totalPages = mTotalPages;
            }
            <div style="padding-right:5px">
                <button class="btn btn-secondary" title="Previous Page" id="btnprev"><i class="fa fa-arrow-left"></i> Previous</button>
                <button class="btn btn-secondary" title="Next Page" id="btnnext">Next <i class="fa fa-arrow-right"></i></button>
                &nbsp;Page
            </div>
            <table>
                <tr>
                    <td>
                        <input class="form-control" id="txpages" title="Current Page. And you can input destination page" style="width: 60px;" type="number" />
                    </td>
                    <td>
                        <div style="margin-left:6px">of &nbsp; @Commons.ConvertToNominal(@totalPages == 0 ? 1 : @totalPages)</div>
                    </td>
                    <td>
                        <button class="btn btn-secondary" id="btngo" title="Goto selected page" style="margin-left:10px">Go</button>
                    </td>
                    <td>
                        <div style="padding-left:10px">
                            @Commons.ConvertToNominal(@recordCount) Record(s)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- END LIST DATA TABLE -->

<script type="text/javascript">
    $(document).ready(function() {
        var txSearch = "";
        $("#btnsearch").click(function() {
            var currentPage = $("#txpages").val();
            txSearch = $("#txsearch").val();
            window.location.href = '@Url.Action("List","CRUD")?pageIndex=' + currentPage + "&searchTerm=" + txSearch;
        })
        $("#btnnext").click(function() {
            txSearch = $("#txsearch").val();
            var nextPage = parseInt($("#txpages").val()) + 1;
            window.location.href = '@Url.Action("List","CRUD")?pageIndex=' + nextPage + "&searchTerm=" + txSearch;
        })
        $("#btnprev").click(function() {
            txSearch = $("#txsearch").val();
            var prevPage = parseInt($("#txpages").val()) - 1;
            window.location.href = '@Url.Action("List","CRUD")?pageIndex=' + prevPage + "&searchTerm=" + txSearch;
        })
        $("#btngo").click(function() {
            txSearch = $("#txsearch").val();
            var selectedPage = $("#txpages").val();
            if (parseInt(selectedPage) > @totalPages) {
                Common.Alert.Warning("The number exceeds the total page. Please enter with a lower number.");
            } else {
                window.location.href = '@Url.Action("List","CRUD")?pageIndex=' + selectedPage + "&searchTerm=" + txSearch;
            }
        })
        $("#txpages").val(@ViewBag.CurrentPage);
    });
</script>
