@model FINCORE.Models.Models.Acquisition.CA.CACarModels
@using FINCORE.Models.Models.Acquisition.CA
@using FINCORE.Services.Helpers.Response;
@{
    ViewData["Title"] = "AKUISISI MOBIL DATA NASABAH - CA";
}
<br />

<form id="contactform" method="post" enctype="multipart/form-data" action="ActionBack">
    <input type="hidden" id="txhiddenFlag" value="@Context.Session.GetString("Flag")" />
    <input type="hidden" id="txhiddenCompanyId" value="@Context.Session.GetString("CompanyId")" />
    <input type="hidden" id="txhiddenBranchId" value="@Context.Session.GetString("BranchId")" />    

<section id="contact" class="feature-wrapper">
    <div class="containers" style="margin-top: -5%;">
       
        <!-- DATA FOTO ID -->
        <div class="container">
            <form id="contactform">
                <button id="CMO_more" class="CMO_more" type="button" style="width: 100%;">Data CMO & Dealer</button>
                <btnCMO><h4><div class="bgc-menu">Data CMO & Dealer <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div></h4></btnCMO>
                <CMO class="CMO" id="CMO">
                <div class="tile">
                    <div class="form-group row">

                        <!-- DATA CMO KOLOM 1 -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right: 2px solid #e8e8e8">

                            <h5><div class="bgc-small">Data CMO</div></h5>
                            <p>Credit ID</p>
                            @if (Context.Session.GetString("Flag") == "Add")
                            {
                                <textarea class="form-control" readonly name="credit_id" id="txcredit_id" placeholder="Credit ID" required>@Context.Session.GetString("credit_id")</textarea>
                            }
                            else
                            {
                                var CACarModels = ViewBag.CACarModels;
                                for (int i = 0; i < @CACarModels.Count; i++)
                                {
                                    <textarea class="form-control" readonly name="credit_id" id="txcredit_id" placeholder="Credit ID" required>@CACarModels[i].credit_id</textarea>

                                    <input type="hidden" id="txhiddenCapacity" value="@CACarModels[i].Capacity" />
                                    <input type="hidden" id="txhiddenCollateral" value="@CACarModels[i].Collateral" />
                                    <input type="hidden" id="txhiddenCapital" value="@CACarModels[i].Capital" />
                                    <input type="hidden" id="txhiddenCharacter" value="@CACarModels[i].Character" />
                                    <input type="hidden" id="txhiddenCondition" value="@CACarModels[i].Condition" />
                                    <input type="hidden" id="txhiddenadvantage_notes" value="@CACarModels[i].advantage_notes" />
                                    <input type="hidden" id="txhiddendeficiency_notes" value="@CACarModels[i].deficiency_notes" />
                                    <input type="hidden" id="txhiddenNIKCMO" value="@CACarModels[i].NIKCMO" />
                                    <input type="hidden" id="txhiddenNamaCMO" value="@CACarModels[i].NamaCMO" />
                                    <input type="hidden" id="txhiddenCMO_DataNasabah1" value="@CACarModels[i].CMO_DataNasabah1" />
                                    <input type="hidden" id="txhiddenCMO_NPPNasabah1" value="@CACarModels[i].CMO_NPPNasabah1" />
                                    <input type="hidden" id="txhiddenCMO_ODNasabah1" value="@CACarModels[i].CMO_ODNasabah1" />
                                    <input type="hidden" id="txhiddenCMO_DataNasabah2" value="@CACarModels[i].CMO_DataNasabah2" />
                                    <input type="hidden" id="txhiddenCMO_NPPNasabah2" value="@CACarModels[i].CMO_NPPNasabah2" />
                                    <input type="hidden" id="txhiddenCMO_ODNasabah2" value="@CACarModels[i].CMO_ODNasabah2" />
                                    <input type="hidden" id="txhiddenCMO_DataNasabah3" value="@CACarModels[i].CMO_DataNasabah3" />
                                    <input type="hidden" id="txhiddenCMO_NPPNasabah3" value="@CACarModels[i].CMO_NPPNasabah3" />
                                    <input type="hidden" id="txhiddenCMO_ODNasabah3" value="@CACarModels[i].CMO_ODNasabah3" />
                                    <input type="hidden" id="txhiddenKodeDealer" value="@CACarModels[i].KodeDealer" />
                                    <input type="hidden" id="txhiddenNamaDealer" value="@CACarModels[i].NamaDealer" />
                                    <input type="hidden" id="txhiddenDealer_DataNasabah1" value="@CACarModels[i].Dealer_DataNasabah1" />
                                    <input type="hidden" id="txhiddenDealer_NPPNasabah1" value="@CACarModels[i].Dealer_NPPNasabah1" />
                                    <input type="hidden" id="txhiddenDealer_ODNasabah1" value="@CACarModels[i].Dealer_ODNasabah1" />
                                    <input type="hidden" id="txhiddenDealer_DataNasabah2" value="@CACarModels[i].Dealer_DataNasabah2" />
                                    <input type="hidden" id="txhiddenDealer_NPPNasabah2" value="@CACarModels[i].Dealer_NPPNasabah2" />
                                    <input type="hidden" id="txhiddenDealer_ODNasabah2" value="@CACarModels[i].Dealer_ODNasabah2" />
                                    <input type="hidden" id="txhiddenDealer_DataNasabah3" value="@CACarModels[i].Dealer_DataNasabah3" />
                                    <input type="hidden" id="txhiddenDealer_NPPNasabah3" value="@CACarModels[i].Dealer_NPPNasabah3" />
                                    <input type="hidden" id="txhiddenDealer_ODNasabah3" value="@CACarModels[i].Dealer_ODNasabah3" />
                                    <input type="hidden" id="txhiddenStatusApproval" value="@CACarModels[i].StatusApproval" />
                                    <input type="hidden" id="txhiddenIsApprover" value="@CACarModels[i].IsApprover" />
                                            <input type="hidden" id="txhiddenIsLastApprover" value="@CACarModels[i].IsLastApprover" />
                                    i++;
                                }
                            }

                            <p>NIK CMO</p>
                            <input class="form-control" id="NIKCMO" placeholder="NIK CMO" readonly>

                            <p>Nama CMO</p>
                                    <input class="form-control" id="NamaCMO" placeholder="Nama CMO" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 1</p>
                                    <input class="form-control" id="CMO_DataNasabah1" placeholder="Data Nasabah 1" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="CMO_ODNasabah1" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 1</p>
                                    <input class="form-control" id="CMO_NPPNasabah1" placeholder="No NPP - Nasabah 1" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 2</p>
                                    <input class="form-control" id="CMO_DataNasabah2" placeholder="Data Nasabah 2" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="CMO_ODNasabah2" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 2</p>
                            <input class="form-control" id="CMO_NPPNasabah2" placeholder="No NPP - Nasabah 2" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 3</p>
                                    <input class="form-control" id="CMO_DataNasabah3" placeholder="Data Nasabah 3" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="CMO_ODNasabah3" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 3</p>
                            <input class="form-control" id="CMO_NPPNasabah3" placeholder="No NPP - Nasabah 3" readonly>

                        </div>
                        <!-- END DATA CMO KOLOM 1 -->
                        <!-- DATA DEALER KOLOM 2 -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border-right: 2px solid #e8e8e8">

                            <h5><div class="bgc-small">Data Dealer</div></h5>
                            <p>Kode Dealer</p>
                            <input class="form-control" id="KodeDealer" placeholder="Kode Dealer" readonly>

                            <p>Nama Dealer</p>
                            <input class="form-control" id="NamaDealer" placeholder="Nama Dealer" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 1</p>
                                    <input class="form-control" id="Dealer_DataNasabah1" placeholder="Data Nasabah 1" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="Dealer_ODNasabah1" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 1</p>
                            <input class="form-control" id="Dealer_NPPNasabah1" placeholder="No NPP - Nasabah 1" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 2</p>
                                            <input class="form-control" id="Dealer_DataNasabah2" placeholder="Data Nasabah 2" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="Dealer_ODNasabah2" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 2</p>
                            <input class="form-control" id="Dealer_NPPNasabah2" placeholder="No NPP - Nasabah 2" readonly>

                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-top: 5%;">
                                    <p>Data Nasabah 3</p>
                                    <input class="form-control" id="Dealer_DataNasabah3" placeholder="Data Nasabah 3" readonly>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 5%;">
                                    <p>OD</p>
                                    <input class="form-control" id="Dealer_ODNasabah3" placeholder="OD" readonly>
                                </div>
                            </div>
                            <p>No NPP - Nasabah 3</p>
                                    <input class="form-control" id="Dealer_NPPNasabah3" placeholder="No NPP - Nasabah 3" readonly>

                        </div>
                        <!-- END DATA DEALER KOLOM 2 -->
                        <!-- DATA ANALISA CMO KOLOM 3 -->
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                            <h5><div class="bgc-small">Analisa CMO</div></h5>
                            <p>Capacity</p>
                            <textarea class="form-control" name="Capacity" id="Capacity" placeholder="Input Capacity"></textarea>

                            <p>Capital</p>
                            <textarea class="form-control" name="Capital" id="Capital" placeholder="Input Capital"></textarea>

                            <p>Character</p>
                            <textarea class="form-control" name="Character" id="Character" placeholder="Input Character"></textarea>

                            <p>Condition</p>
                            <textarea class="form-control" name="Condition" id="Condition" placeholder="Input Condition"></textarea>

                            <p>Collateral</p>
                            <textarea class="form-control" name="Collateral" id="Collateral" placeholder="Input Collateral"></textarea>

                            <p>Analisa Tambahan - Kekurangan</p>
                            <textarea class="form-control" name="advantage_notes" id="advantage_notes" placeholder="Input Analisa Tambahan - Kekurangan"></textarea>

                            <p>Analisa Tambahan - Kelebihan</p>
                            <textarea class="form-control" name="deficiency_notes" id="deficiency_notes" placeholder="Input Analisa Tambahan - Kelebihan"></textarea>

                        </div>
                        <!-- END DATA ANALISA CMO KOLOM 3 -->
                    </div>
                </div>
                </CMO>

                <button id="FotoID_more" class="FotoID_more" type="button" style="width: 100%;">Dokumen Nasabah</button>
                <btnFotoID><h4><div class="bgc-menu">Dokumen Nasabah <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div></h4></btnFotoID>
                <FotoID class="FotoID" id="FotoID">
                    <div class="tile">
                        <div class="form-group row">                                
                            @{
                                var ms_photo_type = ViewBag.ms_photo_type;
                                if (@ms_photo_type.Count > 0)
                                {
                                        <input type="hidden" id="txCountFile" value="@ms_photo_type.Count" />

                                        <div id="divData" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        </div>
                                }
                            }
                        </div>
                    </div>
                </FotoID>

                @if (Context.Session.GetString("Flag") == "Approval")
                {
                    @*<button id="Keputusan_more" class="Keputusan_more" type="button" style="width: 100%;">Keputusan</button>*@
                    <btnKeputusan><h4><div class="bgc-menu">Keputusan<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div></h4></btnKeputusan>
                    <Keputusan class="Keputusan" id="Keputusan">
                        <div class="tile">
                            <div class="form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <p>Keputusan</p>
                                        <select class="form-control" name="reason_id" id="ddlKeputusan" required>
                                        <option value="">Pilih Keputusan</option>
                                            @{
                                                var ApprReason = ViewBag.ApprReason;

                                                for (int i = 0; i < @ApprReason.Count; i++)
                                                {
                                                    <option value="@ApprReason[i].reason_id">@ApprReason[i].reason_description</option>
                                                }
                                            }
                                    </select>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <p>Alasan</p>
                                    <input class="form-control" id="Alasan" name="reason" placeholder="Input Alasan" required>
                                </div>                        
                            </div>
                        </div>
                    </Keputusan>

                    <div class="form-group row">
                    <table class="table table-striped table-bordered" style="width:100%; font-size: 11px;" id="tblpage">
                        <thead>
                            <tr style="background-color: #ffd951; color: #000;">
                                <th>No</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>Keputusan</th>
                                <th>Tanggal</th>
                                <th>Alasan</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var HistoryApproval = ViewBag.HistoryApproval;
                                for (int i = 0; i < @HistoryApproval.Count; i++)
                                {
                                    <tr>
                                        <td>@HistoryApproval[i].No</td>
                                        <td>@HistoryApproval[i].NIK</td>
                                        <td>@HistoryApproval[i].Nama</td>
                                        <td>@HistoryApproval[i].Keputusan</td>
                                        <td>@HistoryApproval[i].Tanggal</td>
                                        <td>@HistoryApproval[i].Alasan</td>
                                    </tr>                                    
                                }
                            }
                        </tbody>
                    </table>
                </div>
                }
                
            </form>
        </div>
        <!-- END FOTO ID -->

        <!-- ASSET ICON PREV -->
        <div class="container">
            <div class="title text-right" style="margin-right: 2%;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button id="btnPrev" asp-action="BackToCMCar" asp-controller="CACar" style="border-style:none; background-color:transparent"><img src="~/assets/ico/back.png"></button>
                </div>
            </div>
        </div>
        <!-- END ASSET ICON PREV -->

        <!-- BUTTON CANCEL SAVE -->
        <div class="container" style="margin-top: 5%; margin-bottom: 5%; margin-left: -1%;">
            <div class="title text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @if (Context.Session.GetString("Flag") == "Add" || Context.Session.GetString("Flag") == "Edit"|| Context.Session.GetString("Flag") == "Correction")
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="submit" class="btn-submit" id="btnSave" style="width: 100%;">Save Draft</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="submit" class="btn-submit" id="btnRFA" style="width: 100%;">RFA</button>
                        </div>
                    }

                    @if (Context.Session.GetString("Flag") == "Approval")
                    {
                        <center>
                            @*<button class="btn-submit" id="btnViewScore" style="width: 20%;">View Score</button>*@
                            <button class="btn-submit" id="btnApprove" style="width: 20%;" asp-action="Approve" asp-controller="CACar">Approve</button>
                            <button class="btn-submit" id="btnVerify" style="width: 20%;" asp-action="Verify" asp-controller="CACar">Verify</button>
                            <button class="btn-submit" id="btnReview" style="width: 20%;" asp-action="Review" asp-controller="CACar">Review</button>
                            <button class="btn-submit" id="btnReject" style="width: 20%;" asp-action="Reject" asp-controller="CACar">Reject</button>                            
                        </center>
                    }
                </div>
            </div>
        </div>
        <!-- END BUTTON CANCEL SAVE -->

    </div>
</section>
</form>

<script src="~/Scripts/Acquisition/CA/CACar_PhotoDetail.js"></script>

<script type="text/javascript">
    var state = "@((string)ViewBag.State)";
    var msg = "@((string)ViewBag.Message)";
    if (state == "@(Collection.Status.SUCCESS)") {
        Common.Alert.Success(msg);
    } 
    else if (state == "@(Collection.Status.FAILED)") {
        Common.Alert.Error(msg);
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnViewScore").click(function () {
            myWindow = window.open(
                '@Url.Action("ViewScore", "CACar")',
                "myWindow",
                "channelmode=yes,width=1200,height=1200,scrollbars=yes");
        });

    });

</script>






